---
import Hero from "@components/landing/Hero.astro";
import Footer from "@layouts/Footer.astro";
import Header from "@layouts/Header.astro";
import "@styles/global.css";

interface Props {
	meta: {
		title: string;
		description?: string;
	};
	showHero?: boolean;
}

const { meta, showHero } = Astro.props;
const baseUrl = "https://doglife.ovh";
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />

		<!-- Title & description -->
		<title>{meta.title}</title>
		<meta name="description" content={meta.description} />

		<!--  Essential META Tags -->
		<meta property="og:title" content={meta.title} />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="" />
		<meta property="og:url" content={baseUrl} />
		<meta name="twitter:card" content="summary_large_image" />

		<!--  Non-Essential, But Recommended -->
		<meta property="og:description" content={meta.description} />
		<meta property="og:site_name" content={meta.title} />
		<meta name="twitter:image:alt" content="" />
	</head>
	<body>
		<div class={showHero ? "fullscreen" : ""}>
			<Header />
			{showHero ? <Hero /> : null}
		</div>
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	body {
		display: grid;
		grid-template-rows: auto 1fr auto;
		justify-items: stretch;
		min-height: 100vh;
	}
	.fullscreen {
		height: 100vh;
		display: grid;
		grid-template-rows: auto 1fr;
	}
</style>
